.navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

button {
    border-radius: 0.25rem;
    background-color: #005CE6;
    color: #FFFFFF;
    padding: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
}